
<app-spinner [mostrar]="flag"></app-spinner>


<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i><strong>CREAR ROL</strong>
            </div>
            <div class="card-body">
                <form class="form-horizontal" #frmRol="ngForm" autocomplete="off">
                    <div>
                        <p class="requerido">Los campos marcados con <strong>(<span class="requerido">*</span>)</strong>
                            son requeridos.</p>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Nombre"> <span class="requerido">* </span>Nombre</label>
                        <div class="col-md-9">
                            <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre"
                                [(ngModel)]="solicitud.nombre_rol" required #name="ngModel">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger alert-requerido">
                                <div *ngIf="name.errors.required">
                                    El <strong>nombre</strong> es un valor requerido.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Descripción">Descripción</label>
                        <div class="col-md-9">
                            <textarea id="Descripción" name="Descripción" rows="3" class="form-control" placeholder="Descripción"
                                [(ngModel)]="solicitud.descripcion"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="sw_crea">Crear</label>
                        <div class="col-md-3">
                            <label class="switch switch-label switch-success switch-lg">
                                <input type="checkbox" id="sw_crea" name="sw_crea" class="switch-input" checked
                                    [(ngModel)]="solicitud.sw_crea">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                        </div>
                        <label class="col-md-3 col-form-label" for="sw_editar">Modificar</label>
                        <div class="col-md-3">
                            <label class="switch switch-label switch-success switch-lg">
                                <input type="checkbox" id="sw_editar" name="sw_editar" class="switch-input" checked
                                    [(ngModel)]="solicitud.sw_editar">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="sw_deshabilita">Deshabilita</label>
                        <div class="col-md-3">
                            <label class="switch switch-label switch-success switch-lg">
                                <input type="checkbox" id="sw_deshabilita" name="sw_deshabilita" class="switch-input"
                                    [(ngModel)]="solicitud.sw_deshabilita">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                        </div>
                        <label class="col-md-3 col-form-label" for="sw_eliminar">Eliminar</label>
                        <div class="col-md-3">
                            <label class="switch switch-label switch-success switch-lg">
                                <input type="checkbox" id="sw_eliminar" name="sw_eliminar" class="switch-input" checked
                                    [(ngModel)]="solicitud.sw_eliminar">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Estaus">Estatus</label>
                        <div class="col-md-3">
                            <label class="switch switch-label switch-success switch-lg">
                                <input type="checkbox" id="Estaus" name="Estaus" class="switch-input" checked
                                    [(ngModel)]="solicitud.sw_activo">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button type="reset" class="btn btn-brand   btn-square mr-1" style="margin-bottom: 4px" title="CANCELAR"
                        (click)="cancelar()">
                        <i class="fa fa-times"></i>
                        <span>CANCELAR</span>
                    </button>
                    <button type="reset" class="btn btn-brand btn-warning  btn-warning btn-square mr-1" style="margin-bottom: 4px"
                        title="LIMPIAR" *ngIf="btn_acciones.btn_limpiar" (click)="limpiar(frmRol)">
                        <i class="fa fa-refresh"></i>
                        <span>LIMPIAR</span>
                    </button>
                    <button type="submit" class="btn btn-brand btn-primary  btn-primary btn-square mr-1" style="margin-bottom: 4px"
                        title="GUARDAR" *ngIf="btn_acciones.btn_guardar" (click)="guardar(frmRol)" [disabled]="!frmRol.form.valid || flag">
                        <i class="fa fa-save"></i>
                        <span>GUARDAR</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
<!--/.row-->