
<app-spinner [mostrar]="flag"></app-spinner>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-navicon"></i><strong>PAÍS</strong>
        </div>
        <div class="card-body table-responsive">


          <div>
            <button type="button" class="btn btn-brand btn-primary btn-square mr-1" title="CREAR PAÍS" (click)="crear_pais()" *ngIf="permisos.registrar == 1">
              <i class="fa fa-plus"></i>
              <span>CREAR PAÍS</span>
            </button>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="pais_select"><strong>Filtrar país</strong></label>
            
            <div class="col-md-9">
              <app-buscar-texto [arreglo]="ArregloRespuesta" (salidaArreglo)="filtrar($event)"
              [FiltroStringObj]="['nombre']"
              [placeholderTxt]="'Filtrar por país'">
              </app-buscar-texto>
            </div>
          </div>

          <form class="form-horizontal" autocomplete="off">
            <table class="table">
              <thead>
                <tr>
                  <th>PAÍS</th>
                  <th>LONGITUD</th>
                  <th>LATITUD</th>
                  <th class="text-center">ACCIÓN</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of pais | filterBy: ['nombre']: filtrar_pais">
                  <td>{{a.nombre}}</td>
                  <td>{{a.longitud}}</td>
                  <td>{{a.latitud}}</td>

                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-brand btn-primary btn-square mr-1" title="DETALLE" style="margin-bottom: 4px"
                        data-toggle="modal" (click)="detalle_pais(a)">
                        <i class="fa fa-eye"></i>
                      </button>
                      <button type="button" class="btn btn-brand btn-success btn-square mr-1" title="MODIFICAR" style="margin-bottom: 4px"
                        data-toggle="modal" (click)="modificar_pais(a)" *ngIf="permisos.actualizar == 1">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-brand btn-danger btn-square mr-1" title="ELIMINAR" style="margin-bottom: 4px"
                        data-toggle="modal" (click)="eliminar_modal(a)" *ngIf="permisos.eliminar == 1">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">Primero</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.currentPage + 1)">Próximo</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Último</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>