
<app-spinner [mostrar]="flag"></app-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-navicon"></i><strong>CATÁLOGO DE PARTE</strong>

        </div>
        <div class="card-body table-responsive">
          <div>
            <button type="button " class="btn btn-brand btn-primary  btn-primary btn-square mr-1" style="margin-bottom: 4px"
              title="CREAR CATÁLOGO DE PARTE" (click)="crear_catalogo()" *ngIf="permisos.registrar == 1">
              <i class="fa fa-plus"></i>
              <span>CREAR CATÁLOGO DE PARTE</span>
            </button>
          </div>
          
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="catalogo_de_compania_select"><strong>Filtrar catalogo de parte T.C</strong></label>
            <div class="col-md-9">
              <app-buscar-texto [arreglo]="ArregloRespuesta" (salidaArreglo)="filtrar($event)"
              [FiltroStringObj]="['nombre_proveedor','nombre','nombre_fabricante']"
              [placeholderTxt]="'Filtrar por proveedor, número de parte, fabricante'">
              </app-buscar-texto>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="">PROVEEDOR</th>
                <th class="">NÚMERO DE PARTE</th>
                <!-- <th class="">UN. ENTREGA</th>
                <th class="">UN. ENTREGA DET.</th>
                <th class="">UN. PROVEEDOR</th>
                <th class="">UN. PROVEEDOR DET.</th> -->
                <th class="">FABRICANTE</th>
                <th class="text-center">ACCIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of catalogo | filterBy: ['nombre_proveedor', 'nombre','nombre_fabricante']: filtrar_catalogo_de_compania">
                <td class="">{{a.nombre_proveedor}}</td>
                <td class="">{{a.nombre}}</td>
                <!-- <td class="">{{a.nombre_unidad_entrega}}</td>
                <td class="">{{a.descripcion_unidad_entrega}}</td>
                <td class="">{{a.nombre_unidad_proveedor}}</td>
                <td class="">{{a.descripcion_unidad_proveedor}}</td> -->
                <td class="">{{a.nombre_fabricante}}</td>

                <td class="text-center ">
                  <div class="btn-group ">
                    <button type="button " class="btn btn-brand  btn-primary btn-square mr-1" style="margin-bottom: 4px"
                      title="DETALLE" data-toggle="modal" (click)="detalle_catalogo(a)">
                      <i class="fa fa-eye"></i>

                    </button>
                    <button type="button " class="btn btn-brand  btn-success btn-square mr-1" style="margin-bottom: 4px"
                      title="MODIFICAR" data-toggle="modal" (click)="modificar_catalogo(a)" *ngIf="permisos.actualizar == 1">
                      <i class="fa fa-edit"></i>

                    </button>
                    <button type="button " class="btn btn-danger  btn-primary btn-square mr-1" style="margin-bottom: 4px"
                      title="ELIMINAR" data-toggle="modal" (click)="eliminar_modal(a)" *ngIf="permisos.eliminar == 1">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(1)">Primero</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Anterior</a>
              </li>
              <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Próximo</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.totalPages)">Último</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

 